.home-page {
    height: var(--full-page-height);
}

.pizza::after {
    height: 100%;
    background-image: url('/assets/pizza-group.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}

section.home {
    height: 20vh;
    align-items: center;
}

section.section.static.home {
    min-height: 25vh;
}

#delivery-title {
    font-size: 3em;
}

button.home {
    width: 8em;
    height: 8em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border-radius: 2em;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 20em;
}

@media only screen and (max-width: 768px) {
    button.home {
        width: 5em;
        height: 5em;
        border-radius: 1.25em;
        z-index: 1;
    }
    .buttons-container {
        width: 12em;
    }
}

@media only screen and (max-width: 768px) {
    #main h1 {
        margin-top: 70%;
        margin-bottom: 10%;
    }
    h2 {
        text-align: center;
    }
    .subtitle {
        font-size: 1.5em;
    }
    .title {
        font-size: 5em;
    }
}